@font-face {
  font-family: BrandonText;
  font-weight: normal;
  src: url("./fonts/BrandonTextRegular.otf") format("opentype");
}

@font-face {
  font-family: BrandonTextBold;
  font-weight: bold;
  src: url("./fonts/BrandonTextBold.otf") format("opentype");
}
